body {
  background-color: rgb(164, 207, 239) !important;
}

h1{
  text-align: center;
}

form{
  text-align: center;
}

p{
  text-align: center;
  color: rgb(9, 22, 78) !important;
}

image{
  margin-left: auto;
  margin-right: auto;
  justify-content: center !important;
  display: flex !important;
  flex-wrap: wrap;
}

